<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="/static/index.css">
</head>
<body>
    <nav class="navbar">
        <a href="/">Home Page</a>
        <a href="/form2">Greeter Form</a>
        <a href="/greet-2"></a>
    </nav>

    {% block content %} {% endblock %}
    <footer>
        Pretend I am a footer
    </footer>
    <!-- <script src="/static/app.js"></script> -->
</body>
</html>